{% extends 'base.html.twig' %}

{% block body %}


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Entregar Pedido</h4>
                </div>
                <div class="modal-body">

                    <div class="form-inline">
                        <input class="hidden" id="id" type="text">
                        <label for="">Fecha de entrega</label>
                        <input id="fecha" type="date">

                        <div class="checkbox">
                            <label>
                                Enviar Email
                                <input id="checkbock" type="checkbox" name="optionsCheckboxes">

                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="myFunction()" data-dismiss="modal">Entregar</button>

                </div>
            </div>

        </div>
    </div>
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <div class="sidebar-wrapper ">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text text-success">
                    PODA
                </a>

            </div>
            <div class="logo">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span class="simple-text text-center">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}

                </span>

                {% else %}
                    <a  href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
            <div class="box">
                <ul class="nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li  class="active">
                            <a href="{{ path('admin_pedido_index')}}">
                                <i class="ti-view-list-alt"></i>
                                <p>Pedidos</p>
                            </a>
                        </li>
                        <li >
                            <a href="{{ path('admin_pedido_new')}}">
                                <i class="ti-pin2"></i>
                                <p>Crear Pedido</p>
                            </a>
                        </li>
                        <li >
                            <a href="{{ path('admin_sede_index')}}">
                                <i class="ti-view-list-alt"></i>
                                <p>Sedes</p>
                            </a>
                        </li>
                        {#<li >#}
                            {#<a href="{{ path('fos_user_registration_register')}}">#}
                                {#<i class="ti-pin2"></i>#}
                                {#<p>Crear Sede</p>#}
                            {#</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('socio')}}">
                                <i class="ti-search"></i>
                                <p>Buscar Socios</p>
                            </a>
                        </li>
                        <li>
                            <a class="" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                <i class="ti-back-left">
                                </i>

                            </a>
                        </li>

                    {% else %}
                        <li  class="active">
                            <a href="{{ path('homepage')}}">
                                <i class="ti-view-list-alt"></i>
                                <p>Pedidos</p>
                            </a>
                        </li>
                        <li>
                            <a class="" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                <i class="ti-back-left">
                                </i>

                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Poda</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Lista de pedidos</h4>
                                <div class="col-md-5 col-lg-offset-5 form-inline">
                                    <label >Filtrar por:</label>
                                    <select class="form-control text-center" id="select">
                                        <option class="text-center"  value="4">Numero sede</option>
                                        <option class="text-center" value="1">Numero pedido</option>

                                    </select>
                                </div>
                                <br>
                                {#<p class="category">Here is a subtitle for this table</p>#}
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                    <th>id</th>
                                    <th>Numero</th>
                                    <th>Fecharecepcion</th>
                                    <th>Sede</th>
                                    <th> Numero sede</th>

                                    <th>Estado</th>
                                    <th>Actions</th>
                                    </thead>
                                    <tbody>
                                    {% for pedido in pedidos %}
                                        <tr>
                                            <td>{{ pedido.id }}</td>
                                            <td>{{ pedido.codigo }}</td>
                                            <td>{% if pedido.fechaRecepcion %}{{ pedido.fechaRecepcion|date('d-m-Y ') }}{% endif %}</td>
                                            <td>{{ pedido.User }}</td>
                                            <td>{{ pedido.User.codigo }}</td>

                                            {% if pedido.fechaEntrega == NULL %}
                                                <td  style="cursor: pointer;" class="text-danger" data-toggle="modal" onclick="getId({{ pedido.id }})" data-target="#myModal">En proceso</td>
                                            {% else %}
                                                <td class="text-success">Entregado</td>
                                            {% endif %}
                                            <td>
                                                        <a href="{{ path('admin_pedido_show', { 'id': pedido.id }) }}">Ver detalle</a>
                                                    {#<li>#}
                                                        {#<a href="{{ path('admin_pedido_edit', { 'id': pedido.id }) }}">edit</a>#}
                                                    {#</li>#}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-5">
                                        <a class="btn btn-info btn-fill btn-wd" href="{{ path('admin_pedido_new') }}">Crear nuevo pedido</a>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( "button" ).click(function() {
            console.log("gola");
        });
                 var table = $('#myTable').DataTable({
                     "language": {
                         "sProcessing":    "Procesando...",
                         "sLengthMenu":    "Mostrar _MENU_ registros",
                         "sZeroRecords":   "No se encontraron resultados",
                         "sEmptyTable":    "Ningún dato disponible en esta tabla",
                         "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                         "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                         "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                         "sInfoPostFix":   "",
                         "sSearch":        "Buscar:",
                         "sUrl":           "",
                         "sInfoThousands":  ",",
                         "sLoadingRecords": "Cargando...",
                         "oPaginate": {
                             "sFirst":    "Primero",
                             "sLast":    "Último",
                             "sNext":    "Siguiente",
                             "sPrevious": "Anterior",

                         },
                         "oAria": {
                             "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                             "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                         },



                     },

                     dom: 'B <"clear"> lfrtip',
                     order: [[0,"desc"]],

                     buttons: [
                         {
                             extend: 'csvHtml5',
                             title: "Pedido",
                             exportOptions: {
                                 columns: [   0,1,2,3,4,5]
                             }
                         },
                         {
                             extend: 'excelHtml5',
                             title: "Pedido",

                             exportOptions: {
                                 columns: [   0,1,2,3,4,5]
                             }
                         },
                         {
                             extend: 'pdfHtml5',
                             title: "Carnets",
                             exportOptions: {
                                 columns: [   0,1,2,3,4,5]

                             },
                             pageSize: 'LEGAL'

                         }

                     ]
                 });


                $('.dataTables_filter input').unbind().bind('keyup', function() {
//                    var colIndex = document.querySelector('#select').selectedIndex;
                    var colIndex= $('#select').val();


                    table.column( colIndex).search( this.value ).draw();
                });
                $('#select').change(function() {
                    table.columns().search('').draw();
                });





        function myFunction() {
            $.notify({
                icon: 'ti-check-box',
                message: 'Su pedido esta siendo procesado'

            },{
                type: 'warning',
                timer: 2000
            });
            var check=$('#checkbock').is(":checked");
                if (check==true) {
                    check="activado";

                }
                else{
                    check="desactivado";
                }
            console.log(check);

            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path ("admin_pedido_entrega") }}",
                    data: {id:document.getElementById("id").value,fecha:document.getElementById("fecha").value,check:check}
                }).done(function (data) {
                    console.log(data);
                    setTimeout(time,2500);
                    $.notify({
                        icon: 'ti-check-box',
                        message: data

                    },{
                        type: 'success',
                        timer: 4000
                    });
                });

            })
        }
        function time() {
            location.reload();

        }


        function getId(id) {
            document.getElementById("id").value = id;

        }


    </script>
{% endblock %}