{% extends 'base.html.twig' %}

{% block body %}
    <div class="sidebar" data-background-color="white" data-active-color="danger">

        <div class="sidebar-wrapper ">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text text-success">
                    PODA
                </a>

            </div>
            <div class="logo">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span class="simple-text text-center">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}

                </span>

                {% else %}
                    <a  href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
            <div class="box">
                <ul class="nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li >
                            <a href="{{ path('admin_pedido_index')}}">
                                <i class="ti-view-list-alt"></i>
                                <p>Pedidos</p>
                            </a>
                        </li>
                        <li  >
                            <a href="{{ path('admin_pedido_new')}}">
                                <i class="ti-pin2"></i>
                                <p>Crear Pedido</p>
                            </a>
                        </li>
                        <li class="active" >
                            <a href="{{ path('admin_sede_index')}}">
                                <i class="ti-view-list-alt"></i>
                                <p>Sedes</p>
                            </a>
                        </li>
                        {#<li >#}
                            {#<a href="{{ path('fos_user_registration_register')}}">#}
                                {#<i class="ti-pin2"></i>#}
                                {#<p>Crear Sede</p>#}
                            {#</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('socio')}}">
                                <i class="ti-search"></i>
                                <p>Buscar Socios</p>
                            </a>
                        </li>
                        <li>
                            <a class="" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                <i class="ti-back-left">
                                </i>

                            </a>
                        </li>

                    {% else %}
                        <li  class="active">
                            <a href="{{ path('homepage')}}">
                                <i class="ti-view-list-alt"></i>
                                <p>Pedidos</p>
                            </a>
                        </li>
                        <li>
                            <a class="" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                <i class="ti-back-left">
                                </i>

                            </a>
                        </li>
                    {% endif %}

                </ul>
            </div>

        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Poda</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Lista de Sedes</h4>
                                {#<p class="category">Here is a subtitle for this table</p>#}
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table id="sede" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Sede</th>
                                        <th>Codigo</th>

                                        <th>Email</th>
                                        <th>Ultima vez logeado</th>
                                        <th>Estado</th>
                                        <th>Elminar</th>
                                        <th>Editar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}

                                        {% if user.roles[0]!="ROLE_ADMIN" %}
                                            <tr>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.codigo }}</td>

                                                <td>{{ user.email }}</td>
                                                <td>{% if user.lastlogin %}{{ user.lastlogin|date('Y-m-d H:i:s') }}   {% else %} <span class="text-danger">No a logeado</span> {% endif %}</td>
                                                <td>{% if user.enabled %} <span class="text-success">Habilitado</span>  {% else %} <span class="text-danger">Desabilitado</span> {% endif %}</td>
                                                <td>{% if user.enabled %} <span ><a class="text-danger" href="{{ path('admin_user_eliminar', { 'id': user.id }) }}">Desabilitar</a></span>  {% else %} <span class="text-danger"><a class="text-success" href="{{ path('admin_user_eliminar', { 'id': user.id }) }}">Habilitar</a></span> {% endif %}</td>

                                                <td><a href="{{ path('admin_sede_edit',{'id':user.id})}}">Editar</a></td>

                                            </tr>
                                        {% endif %}

                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-5">
                                        <a class="btn btn-info btn-fill btn-wd" href="{{ path('fos_user_registration_register') }}">Crear nueva sede</a>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <table>

    </table>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(document).ready( function () {
            $('#sede').DataTable({
                "aoColumnDefs": [
                    { "bSearchable": false, "aTargets": [ 2,3,4,5 ] }
                ],
                "language": {
                    "sProcessing":    "Procesando...",
                    "sLengthMenu":    "Mostrar _MENU_ registros",
                    "sZeroRecords":   "No se encontraron resultados",
                    "sEmptyTable":    "Ningún dato disponible en esta tabla",
                    "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":   "",
                    "sSearch":        "Buscar:",
                    "sUrl":           "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":    "Último",
                        "sNext":    "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
                dom: 'B <"clear"> lfrtip',
                order: [[ 1, "asc" ]],

                buttons: [
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: [   0,1,3,4]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [   0,1,3,4]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [   0,1,3,4]

                        },
                        pageSize: 'LEGAL'

                    }

                ]
            });

        } );
    </script>
{% endblock %}
